body {
    color: white;
    text-decoration: none;
}
a:link {

    color:white;
    text-decoration:none;
    font-weight: 200;
    margin: 10px;
    }
body, div, p{ margin: 0;
    font-family: 'Roboto', sans-serif;
}

.Ftitle { 
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 0;
    border-bottom: 0;
    padding-top: 0px;
   
}

nav {
text-align: right;
text-decoration: none;
}

.container1 {
    border: 5px solid
    display: flex;
    flex-direction: row;
}
.background {

    height: 100vh;
    
    

    
    background-image: url(./images/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg);
    padding: 1px;
    
}
 
 .line {
     margin-left: 340px;
     margin-right: 340px;
 }

 .main {
    font-family: 'Roboto', sans-serif; font-weight: 700;
     text-align: center;
     font-size: 62px;
     padding-bottom: 0;
     margin-top: 175px;

 }
.submain {
    text-align: center;
    font-weight: font-family: 'Roboto', sans-serif; font-weight: 100;
    font-size: 42px
}

.msgnbread {
    display: flex;
    background-image: url(images/human-holding-a-bread-745988.jpg); width:40%; height: 300px;
    background-size: cover;
    background-position: center;
}

.msgnpineapple {
    display: flex;
    
}
.pineapple {
    background-image: url(images/green-pineapple-fruit-with-brown-framed-sunglasses-beside-1161547.jpg); width: 40%; height: 300px;
    background-size: cover;
    background-position: center;

}


.msgnpasta {
    
    display: flex;


}
.pasta {
    display: flex;
    background-image: url(images/cooked-pasta-on-brown-wooden-bowl-803963.jpg); width: 40%; height: 300px;
    background-size: cover;
    background-position: center;
}

.firstsection {
    display: flex;
}

.par1 {
    width: 60%;
    background: black;
    padding-top:60px;
    padding-left: 35px;
    

}

.par2 {
    width: 60%;
    background: #222222;
    padding-top:60px;
    padding-left: 35px;
    

}

.par3 {
    width: 60%;
    background: #333333;
padding-top:60px;
padding-left: 35px; }
